Flask==2.3.3
Flask-SQLAlchemy==3.0.3
Flask-Migrate==4.0.4
Flask-Login==0.6.3
python-dotenv==1.0.0
pyinstaller==6.20.0
pywebview==6.2.1
waitress==3.0.0
Werkzeug==2.3.8
pywin32==311
openpyxl==3.1.2
psycopg2-binary>=2.9.9
